body {font-family: "Poppins", sans-serif;
  background: #272044;
}

h1 {
  
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
  line-height: 144%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("images/japan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
  margin: 0;
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
 margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
line-height: 1.5;
margin: 0;
}
header h3 {
   font-weight: 900;
  font-size:24px;
line-height: 1.5;
letter-spacing: 5px;
  margin: 0;
}
 header a {
 font-weight: 700;
  font-size: 14px;
line-height: 1.5;
margin: 30px 0;
text-align: center;
text-transform: uppercase;
letter-spacing: 3px;
color:#272044;
padding: 16px 30px;
display:inline-block;
text-decoration: none;
background: white;
 }

 @media (max-width: 900px) {
 header {
  padding: 60px 0;
 }

header h1 {
  font-size: 48px;
}

header h2{
  font-size: 20px;
}

header h3 {
  font-size: 12px;
}
 }